
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-6">

        <br>
        <p><b>This web app is for educational purposes!</b></p><br>

        <p><b>PRODUCTS</b><br>This page contains four main features; A dropdown list which lets the user filter the list of books via the author's name, a complete list of the books/products in the database, a "cart" which can be updated by the user and it displays the total cost of all the items in the cart.</p>
        <br>

        <p><b>BOOKS</b><br>This page is contains a table which displays all of the books in the database. It allows the user to perform CRUD operations on the "Book" table in the database. If the user changes a record here, the "Products" page is also updated. For details on how this page was developed please see my dev blog.</p>
        <br>

        <p><b>EXTRA</b><br>This page contains a number of screenshots which show how the "Products" page was developed and demonstates a number of fundamental ASP.NET, EF (Code First) and OOP concepts such as ViewModels, Partial Pages, Relational Databases, LINQ Queries, Repository Design Pattern, Posting Form Data, Inheritance, Polymorphism and Encapsulation.</p>
        <br>

        <p><b><a href="https://github.com/damien5215" target="_blank">GITHUB</a></b></p>
        <p><b><a href="http://www.text.damienasp.com/001.html" target="_blank">DEV BLOG</a></b></p>

    </div>
    <div class="col-md-6">
        <br>
        <img class="devBlog" src="~/Images/books3.png" />
    </div>
</div>