
@{
    ViewBag.Title = "Links";
}

<h2>Links</h2>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3> ASP.NET, Console App, EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/products01.png" />
        @*<p>sddds</p>*@
    </div>
    <div class="col-md-6">
        <h3>EF Code First Migrations</h3>
        @*<img class="devBlog" src="~/images/products02.png" />*@
    </div>
</div>
@*<br>
    <hr>*@

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3> ASP.NET, Console App, EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/Products02.png" />
    </div>
    <div class="col-md-6">
        <h3>EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/products03.png" />
    </div>
</div>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3> ASP.NET, Console App, EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/Products04.png" />
    </div>
    <div class="col-md-6">
        <h3>EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/products05.png" />
    </div>
</div>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3> ASP.NET, Console App, EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/Products06.png" />
    </div>
    <div class="col-md-6">
        <h3>EF Code First Migrations</h3>
        @*<img class="devBlog" src="~/images/products05.png" />*@
    </div>
</div>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3> ASP.NET, Console App, EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/Products07.png" />
    </div>
    <div class="col-md-6">
        <h3>EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/products08.png" />
    </div>
</div>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3> ASP.NET, Console App, EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/Products09.png" />
    </div>
    <div class="col-md-6">
        <h3>EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/products10.png" />
    </div>
</div>





<br>
<br>
<br>
<br>
<br>
<br>

