
@{
    ViewBag.Title = "Links";
}

<h2>Links</h2>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3> ASP.NET, Console App, EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/products01.png" />
        @*<p>sddds</p>*@
    </div>
    <div class="col-md-6">
        <h3>EF Code First Migrations</h3>
        @*<img class="devBlog" src="~/images/products02.png" />*@
    </div>
</div>
@*<br>
    <hr>*@

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3> ASP.NET, Console App, EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/productsController01.png" />
    </div>
    <div class="col-md-6">
        <h3>EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/ProductsViewModel.png" />
    </div>
</div>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3> ASP.NET, Console App, EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/Products06.png" />
    </div>
    <div class="col-md-6">
        <h3>EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/Products04a.png" />
    </div>
</div>


<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3> ASP.NET, Console App, EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/Products07.png" />
    </div>
    <div class="col-md-6">
        <h3>EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/products08.png" />
    </div>
</div>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3> ASP.NET, Console App, EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/Products09.png" />
    </div>
    <div class="col-md-6">
        <h3>EF Code First Migrations</h3>
        <img class="devBlog" src="~/images/products10.png" />
    </div>
</div>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3>Repository: "GetCart()"</h3>
        <img class="devBlog" src="~/images/RepoGetCart.png" />
    </div>
    <div class="col-md-6">
        <h3>Repository: "GetCart()"</h3>
        @*<img class="devBlog" src="~/images/products10.png" />*@
        <p>dsdsdds</p>
    </div>
</div>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3>Partial View: "_Cart"</h3>
        <img class="devBlog" src="~/images/Products11.png" />
    </div>
    <div class="col-md-6">
        <h3>Rendered HTML for "_Cart"</h3>
        <img class="devBlog" src="~/images/cartDisplay.png" />
    </div>
</div>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3>TotalCostViewModel</h3>
        <img class="devBlog" src="~/images/totalCost01.png" />
    </div>
    <div class="col-md-6">
        <h3>Cart Controller: "_TotalCost()"</h3>
        <img class="devBlog" src="~/images/totalCost02.png" />
    </div>
</div>

<br>
<hr>
<div class="row">
    <div class="col-md-6">
        <h3>Partial View: "_TotalCost"</h3>
        <img class="devBlog" src="~/images/totalCost03.png" />
    </div>
    <div class="col-md-6">
        <h3>ViewBag vs ViewModel</h3>
        <p>Initially I used ViewBag to hold the calculated "total price" value and send it to the view.</p>
        <p>I replaced this with a ViewModel which only has one property and a constructor.</p>
        <p>It inherits from the Base ViewModel however this is not necessary as it doesn't need any of the properties or methods defined in the base ViewModel.</p>
    </div>
</div>



<br>
<br>
<br>
<br>
<br>
<br>

