
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<h3 id="tuna">hjkkk</h3>


<div>
    @*<input type="button" class="buttonTest" id="btn0" value="Ex 01"><br>
    <input type="button" class="buttonTest" id="btn1" value="Ex 02"><br>
    <input type="button" class="buttonTest" id="btn2" value="Ex 03">*@

    <a class="button_action" href="/Cart/Test/1" style="color:blue;">ADD</a><br>
    <a class="button_action" href="/Cart/Test/2" style="color:blue;">ADD</a><br>
    <a class="button_action" href="/Cart/Test/3" style="color:blue;">ADD</a><br>
    <a class="button_action" href="/Cart/Test/4" style="color:blue;">ADD</a><br>
    <a class="button_action" href="/Cart/Test/5" style="color:blue;">ADD</a>
</div>



