
@{
    ViewBag.Title = "ProductsTest";
}

<h2>ProductsTest</h2>
<br>

<input type="text" id="textBox1" placeholder="Search.." name="search">
<button id="searchBtn" class="btndjsd">ClickME</button>


<div id="bookTable3">
    @{Html.RenderAction("_ProductsTestBooks", "Test");}
</div>



@section scripts {
    <script src="~/Scripts/ProductsTest.js"></script>
}